{% extends 'base.html.twig' %}

{% block title %}Hello TwinController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('twin') }}
{% endblock %}

{% block body %}
    <div {{ react_component('TwinPage', { actionsData: actionsData, userActionsData: userActionsData }) }}>
        Loading...
    </div>
{% endblock %}
